@import url("https://fonts.googleapis.com/css?family=Luckiest+Guy");

body {
	color: #fff;
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  width: 100%;
  height: 100%;
  background-color: skyblue;
  background-image: -webkit-linear-gradient(90deg, skyblue 0%, steelblue 100%);
  background-attachment: fixed;
  background-size: 100% 100%;
  overflow: hidden;
  font-family: "Luckiest Guy", cursive;
  -webkit-font-smoothing: antialiased;
  text-align: center;
}

::selection {
  background: transparent;
}
/* CLOUDS */
body:before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  width: 0;
  height: 0;
  margin: auto;
  border-radius: 100%;
  background: transparent;
  display: block;
}

p {
	font-family: "Luckiest Guy", cursive !important;
  -webkit-font-smoothing: antialiased;
}

/* ANIMATIONS */

@-webkit-keyframes bounce {
  100% {
    top: 5px;
    text-shadow: 0 20px 10px rgba(0, 0, 0, 0.2);
  }
}

@-webkit-keyframes fadeInUp {
  0% {
     opacity: 0;
     -webkit-transform: translateY(20px);
  }
  100% {
     opacity: 1;
     -webkit-transform: translateY(0);
  }
}

@keyframes fadeInUP {
  0% {
     opacity: 0;
     transform: translateY(20px);
  }
  100% {
     opacity: 1;
     transform: translateY(0);
  }
}

.fadeInUp {
  -webkit-animation-name: fadeInUp;
  animation-name: fadeInUp;
}

#answer {
  -webkit-animation-duration: 1s;
  animation-duration: 1s;
  -webkit-animation-fill-mode: both;
  animation-fill-mode: both;
}

#choice0 {
  -webkit-animation-duration: 1s;
  animation-duration: 1s;
  -webkit-animation-fill-mode: both;
  animation-fill-mode: both;
  animation-delay: 0.35s;
}

#choice1 {
  -webkit-animation-duration: 1s;
  animation-duration: 1s;
  -webkit-animation-fill-mode: both;
  animation-fill-mode: both;
  animation-delay: 0.7s;
}

#choice2 {
  -webkit-animation-duration: 1s;
  animation-duration: 1s;
  -webkit-animation-fill-mode: both;
  animation-fill-mode: both;
  animation-delay: 1.05s;
}

#choice3 {
  -webkit-animation-duration: 1s;
  animation-duration: 1s;
  -webkit-animation-fill-mode: both;
  animation-fill-mode: both;
  animation-delay: 1.4s;
}

#answer strong span {
  position: relative;
  font-size: 25px;
  top: 10px;
  margin-bottom: 10px;
  display: inline-block;
  -webkit-animation: bounce 0.5s ease infinite alternate;
  text-shadow: 0 1px 0 #90ee90, 0 2px 0 #90ee90, 0 4px 0 #ccc,
  0 5px 0 #ccc, 0 6px 0 transparent, 0 7px 0 transparent, 0 8px 0 transparent,
  0 9px 0 transparent, 0 10px 10px rgba(0, 0, 0, 0.4);
}

#answer strong span:nth-child(2) {
  -webkit-animation-delay: 0.1s;
}

#answer strong span:nth-child(3) {
  -webkit-animation-delay: 0.2s;
}

#answer strong span:nth-child(4) {
  -webkit-animation-delay: 0.3s;
}

#answer strong span:nth-child(5) {
  -webkit-animation-delay: 0.4s;
}

#answer strong span:nth-child(6) {
  -webkit-animation-delay: 0.5s;
}

#answer strong span:nth-child(7) {
  -webkit-animation-delay: 0.6s;
}

#explanation {
  -webkit-animation-duration: 1s;
  animation-duration: 1s;
  -webkit-animation-fill-mode: both;
  animation-fill-mode: both;
  animation-delay: 0.35s;
}

#next {
  animation-delay: 0.7s;
  -webkit-animation-duration: 1s;
  animation-duration: 1s;
  -webkit-animation-fill-mode: both;
  animation-fill-mode: both;
}

/* CLOSE ANIMATIONS */

.grid {
	width: 80%;
  height: 83vh;
  margin: 25px auto;
	padding: 10px 50px 50px 50px;
}

.grid h1 {
	font-family: sans-serif;
	background-color: #002db3;
	font-size: 60px;
	color: #fff;
	padding: 2px 0px;
	border-radius: 50px;
}

#question {
	font-family: sans-serif;
	font-size: 30px;
  -webkit-animation-duration: 1s;
  animation-duration: 1s;
  -webkit-animation-fill-mode: both;
  animation-fill-mode: both;
}

.buttons {
	margin-top: 30px;
}

.true {
	color: green;
}

.false {
	color: #D44949;
	font-size: 25px;
  margin-top: 5px;
  margin-bottom: 10px;
}

.answer {
	background-color: #D44949;
}

button {
	background-color: #002db3;
	width: 90%;
	font-size: 20px;
	color: #fff;
	border: 1px solid #1d3c6a;
	margin: 2px 0px 2px 0px;
	padding: 10px 10px;
}

button.hover:hover {
	cursor: pointer;
	background-color: #0033cc52;
}

button:focus {
	outline: 0;
}

#next {
	width: 200px;
}

#progress {
	font-size: 14px;
  position: relative;
  font-weight: bold;
  text-align: right;
  background-color: #002db3;
  padding-right: 5px;
  padding-bottom: 2px;
}

#score {
	font-size: 30px;
}

/*  MOBILE  */

@media screen and (max-width: 415px) {
	body {
		overflow: hidden;
	}

	button {
		padding: 8px;
		width: 115%;
	}

	img {
    padding-top: 5px;
	}

	#next {
		margin-left: 15%;
    margin-top: -15px;
	}

	#answer {
		margin-left: 2%;
    margin-right: -15%;
    line-height: 20px;
	}

	#explanation {
		margin-left: 5%;
    margin-top: -10px;
		width: 105%;
		line-height: 20px;
	}

	#answer-correct {
		margin-left: 2%;
    margin-right: -15%;
    line-height: 20px;
	}

	.buttons {
    margin-left: -20%;	
    margin-top: -5%;
	}

	.grid {
    width: 100%;
    height: 99vh;
    margin-top: 2px;
	}

	#question {
		font-size: 25px;
		line-height: 25px;
		height: 150px;
		padding-left: 15px;
		padding-right: 15px;
	}
}

